/* === Scatches for Greenshop === */
/* ============================== */

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: navy;
    padding: 12px 18px;
    /*border: orange 2px solid;*/
    border-radius: 8px;
    text-decoration: none;
    font-size: 26px;    
}

.pagination a:hover {
    background-color: blueviolet;
    color: white;
}

/* === Product Card === */
/* ==================== */
.wrapper {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

.product_card {
    border: 1px solid #e2e2e2;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    padding: 16px;
    border-radius: 4px;
    box-sizing: border-box;
    max-width: 260px;
    background-color: #ffffff;
    
}

.product_card__image {
    margin-bottom: 12px;
}

.product_card__title {
    margin: 0;
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #1d1d1d;
}

.product_card__description {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color: #727272;
    margin: 0;
    margin-bottom: 16px;
}

.product_card__rating_wrapper {
    text-align: left;
    margin-bottom: 8px;
}

.product_card__rating {
    width: 24px;
}

.product_card__price {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #1d1d1d;
    margin-bottom: 16px;
}

.product_card__confirm {
    background-color: darkgreen;
    padding: 20px 0;
    border: 0;
    border-radius: 6px;
    color: #fff;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
}

/* === Footer === */
/* ============== */
footer {
    border: 1px solid red;
    padding: 20px 100px;
    background-color: #1d1d1d;
}

.footer_wrapper {
    margin: 0 auto;
    border: 1px solid orange ;
    background-color: #303030;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
.footer_wrapper_left_col {
    float: left;
}

div ul {
    padding: 12px;
}

div ul li {
    list-style-type: none;
    color: #fff;
    line-height: 170%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

a {
    color: aquamarine;
    text-decoration: none;
}